{% extends "Appcoder/padre.html" %}

    {% load static %}

{% block contenido %}

<h1>Ingresar datos a la base de datos</h1>
  
<h2>Jugador</h2>
<form method="post" action=""> {% csrf_token %}
    Nombre:<br>
    <input type="text" name="nombre"/><br>
    Equipo:<br>
    <input type="text" name="equipo"/><br>
    <input type="submit" value="Enviar"/>
</form>

<h2>Equipo</h2>
<form method="post" action=""> {% csrf_token %}
    Nombre:<br>
    <input type="text" name="nombre"/><br>
    Dt:<br>
    <input type="text" name="dt"/><br>
    <input type="submit" value="Enviar"/>
</form>

{% endblock %}