
{% extends "Appcoder/padre.html" %}

{% load static %}

{% block contenido %}

 {% if jugadores %}

<center>
    <ul>
        {% for jugador in jugadores %}

        <p>Nombre: {{jugador.nombre}}</p>
        <p>Club: {{jugador.equipo}}</p>
        <p>Edad: {{jugador.calcular_edad}}</p>
        <p>Posicion: {{jugador.posicion}}</p>
        <br><br>

            {% endfor %}
     </ul>
    
    <a href="{% url 'BusquedaJugador' %}">
    <button type="button">Volver a buscar</button>
    </a>
</center>


 {% endif %}

{% endblock %}